extends ../layout
block content
	main.admin
		-if(error)
			| error
		-if(session)
			| session.error
		form.location(method='post' action='/admin/location/'+action+(data.id ? '/'+data.id : '') autocomplete=false class=action)
			header
				.title
					input.name(name='name' type='text' placeholder='Location Name' required value=(data ? data.name : '') autocomplete='false')
				.buttons
					-if(action == 'update') {
						input(type='submit' value name='submit').button.square.save
						input(type='submit' value name='delete').button.square.delete
						a.button.square.home(href='/'+data.slug)
					-}
			.group.user
				h2 Email
				input(name='email' type='email' required value=(data ? data.email : '') autocomplete='false')
				h2 Password
				input(name='password' type='password' autocomplete='false' placeholder='•••••••')
				h2 Confirm Password
				input(name='confirmPassword' type='password' autocomplete='false' placeholder='•••••••')
				-if(data.slug)
					h2 URL Slug
					input(name='slug' type='text' autocomplete='false' value=data.slug)
			.group.text
				h2 About
				div.wysiwyg
				input(type='submit' name='submit' value=action+' Location' class=(data ? 'save' : 'go')).button.text
		-if(action == 'update')
			table#logs
				thead
					tr.titles
						th.title.month Month
						th.title.day Day
						th.title.year Year
						th.title.scraps Scraps
						th.title.compost Compost
						th.title.buttons 
					tbody
						tr.row
							td.cell.date.month(label='month')
								select.field(type='text' name='month')
							td.cell.date.day(label='day')
								select.field(type='text' name='day')
							td.cell.date.year(label='year')
								select.field(type='text' name='year')
							td.cell.data.scraps(label='scraps')
								input.field.text(type='text' name='scraps')
							td.cell.data.compost(label='compost')
								input.field.text(type='text' name='compost')
							td.cell.buttons(label='buttons')
								input(type='submit' value name='submit').button.square.save
								input(type='submit' value name='submit').button.square.delete