extends ../layout

block content
	main.admin
		#location.show
			header
				h1#title= title
				.buttons
					a.submit.square.save
					//- a.submit.square.view
					a.submit.square.home(href="/")

			#location.edit
				form#info
					input.text#name(type='text', placeholder='Name')
					input.text#password(type='password', placeholder='Password')
					input.text#email(type='text', placeholder='Email Address')
					input.text#confirmpassword(type='password', placeholder='Password')

					h2 What is this?
					textarea#what(type='textarea', rows='10')
					h2 Who composts at Purchase?
					textarea#who(type='textarea', rows='10')
					h2 How do we compost?
					textarea#how(type='textarea', rows='10')
					h2 What can be composted here?
					textarea#compostable(type='textarea', rows='10')
				table#log
					thead
						tr.titles
							th.title.month Month
							th.title.day Day
							th.title.year Year
							th.title.scraps Scraps
							th.title.compost Compost
							th.title.buttons 
					tbody
						tr.row
							td.cell.date.month(label='month')
								select.date.month(type='text', data-type='month')
							td.cell.date.day(label='day')
								select.date.day(type='text', data-type='day')
							td.cell.date.year(label='year')
								select.date.year(type='text', data-type='year')
							td.cell.data.scraps(label='scraps')
								input.text(type='text', placeholder='0', data-type='scraps')
							td.cell.data.compost(label='compost')
								input.text(type='text', placeholder='0', data-type='compost')
							td.cell.buttons(label='buttons')
								input.save.submit(type='submit', value='')
								input.delete.submit(type='submit', value='')