extends ../layout

block content
	main.admin
		#user.login
			header
				h1#title Login
			
			form#info(action='/login', method='post')
				input.text#name(type='text', placeholder='Name')
				input.text#password(type='password', placeholder='Password')
				input.submit#login(type='submit', value='Login')