extends ../layout

block content
	main.admin
		#location.new
			header
				h1#title New Location
				.buttons
					input.submit.save(type='submit', value='')
			
			form#info
				input.text#name(type='text', placeholder='Name')
				input.text#password(type='password', placeholder='Password')
				input.text#email(type='text', placeholder='Email Address')
				input.text#confirmpassword(type='password', placeholder='Password')

				textarea#how(type='textarea', rows='10', placeholder='Tell us about how you compost.')
				textarea#who(type='textarea', rows='10', placeholder='Who is involved in the composting process at your school?')