extends ../layout

block content
	h1 New Location
	
	#location.new
		form#info
			input#name(type='text', placeholder='Name')
			input#street(type='text', placeholder='Street Address')
			input#city(type='text', placeholder='City/Town')
			input#state(type='text', placeholder='State')
			input#zip(type='text', placeholder='Zip Code')
			input#submit(type='submit', value='')