@import 'vars';
@import 'animate';
html, body {
	width: 100%;
	height: 100%;
	display: block;
	background-color: $lightest;
	color: $dark;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin: 0;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}
main {
	width: calc(100% - 4em);
	display: block;
	margin: auto;
	padding: 4em 2em;
}
#about {
	width: 100%;
	height: 300px;
	background: $dark;
}
header {
	font-weight: 800;
	display:table;
	svg {
		display: table;
		margin: auto;
	}
}
h1 {
	font-size: 3em;
	line-height: 1.2em;
	font-weight: 800;
}

a, a:visited {
	color: $dark;
	text-decoration: none;
}
input, select, textarea {
	max-width: 100%;
	font-family: "GT Walsheim Bold";
	display: block;
	background: $light;
	color: $dark;
	font-size: 25px;
	outline: none;
	border: solid $dark;
}
textarea {
	width: calc(100% - 16px);
	padding: 2px 0 2px 6px;
	border-width: 5px;
	resize: none;
}
input[type="text"], input[type="email"], input[type="password"] {
	width: calc(100% - 6px);
	padding: 5px 0 5px 6px;
	border-width: 0 0 5px 0;
}
select {
	border-width: 0;
	padding: 2px 0 2px 6px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgb(250, 255, 189);
  background-image: none;
  color: rgb(0, 0, 0);
}
input.text {
	height: 33px;
}
input[type="submit"], a.submit {
	margin: 0;
	display: block;
	float: left;
	cursor: pointer;
	border: 0;
	background: none;
}
input[type="submit"].submit, a.submit.submit {
	width: 47px;
	height: 47px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
}
select {
	height: 47px;
	appearance: none;
	border-radius: 0px;
	background-image:url(../images/drop.svg);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center; 
	cursor: pointer;
}