footer
	.top
	.dirt
		.inner
			.block.pci
				img(src ='images/pci.svg')
			.block.credits
				h4 Created by
				a(href='http://coreytegeler.com' target='_blank')
					h4 Corey Tegeler
				a(href='http://dannyfabricant.com' target='_blank')
					h4 Danny Fabricant