footer
	.top
	.dirt
		.inner
			.block.credits
				h3 Designed &amp; developed by
				a(href='http://coreytegeler.com' target='_blank').banana Corey Tegeler
				a(href='http://dannyfabricant.com' target='_blank').beet Danny Fabricant
			.block.credits
				h3.tomato Initiated by
				a(href='http://www.brookesinger.net/' target='_blank').egg Brooke Singer
				a(href='https://www.purchase.edu/Departments/EnvironmentalSustainability/campusgarden.aspx' target='_blank').green The Purchase Compost Initiative