extends layout

block content
	aside
	header#logo
		a#logoLink(href= '/')
	main
		#locations
			-for(var i in locations)
				-var location = locations[i]
				section.location(id= location.slug, data-slug= location.slug)
					.content
						header
							h1 #{location.name}
							.close
						.graph
							.easel
							.popup
								.row.date
									.cell.title='Date'
									.cell.data
								.row.value
									.cell.title
									.cell.data
					include info.jade
	footer