extends layout
block content
	aside
	header#logo
		a#logoLink(href= '/')
	main
		section.locations
			.location.sample
				.content
					.graph.loading
						.loader
						.easel
	include slider.pug
	include footer.pug