extends layout
block content
	-var location = locations[0]
	aside
	header#logo
		a#logoLink(href= '/')
		h1.where #{location.name}
	main
		section#locations
			.location(id= location.slug, data-slug= location.slug)
				.content
					.graph.loading
						.loader
						.easel
							.buttons.view
								.button.type.scraps.selected(data-type='scraps') Scraps
								.button.type.compost(data-type='compost') Compost
						.arrow.left.show
							img(src ='images/left.svg')
						.arrow.right.show
							img(src ='images/right.svg')
						.popup.model
							.row.date
								.cell.title='Date'
								.cell.data
							.row.value
								.cell.title
								.cell.data
							.point
				include info.jade
		include compostables.jade
		include slider.jade
	include footer.jade