extends layout

block content
	aside
	header#logo
	main
		#locations
			-for(var i in locations)
				-var location = locations[i]
				section.location(id= location.slug, data-slug= location.slug)
					header
						a.open(href= location.slug)
							h1 #{location.name}
								.arrow ➼
					.graph
						.easel
						.popup
							.row.date
								.cell.title='Date'
								.cell.data
							.row.value
								.cell.title
								.cell.data
					if pageType == 'single'
						include info.jade