.info
	.inner
		.box
			.inner
				h2 Composting at #{location.name} is managed by #{location.who}. You can contact them at 
					a(href="mailto:#{location.contact}") #{location.contact}
				.text
					p 
		.box
			.inner
				h2 Peace Corps outcomes amplify life-saving?
				.text
					p Proper resources provide refugee respond minority solution affiliate, 501(c)(3) scalable. Policy social worker Gandhi conflict resolution participatory monitoring policy dialogue measures NGO fight against oppression donors rural agenda democracy community health workers.