.info
	.inner
		.box
			.inner
				h2 Who composts here?
				.text
					p #{location.who}
				.contact
					a(href="mailto:#{location.email}") #{location.email}
				h2 How do you compost?
				.text
					p #{location.how}
				.contact
					a(href="http://www.tidyplanet.co.uk/our-products/the-rocket/a700-rocket/") Tidy Planet A700 Rocket
		.box
			.inner
				
