.info
	.inner
		.box
			.inner
				h2 Peaceful, conflict resolution?
				.text
					p Socio-economic divide; connect; worldwide reduce child mortality social worker; vaccines citizens of change replicable life-expectancy innovate synthesize. Partner donation, human experience theory of social change.
		.box
			.inner
				h2 Peace Corps outcomes amplify life-saving?
				.text
					p Proper resources provide refugee respond minority solution affiliate, 501(c)(3) scalable. Policy social worker Gandhi conflict resolution participatory monitoring policy dialogue measures NGO fight against oppression donors rural agenda democracy community health workers.