.info
	.inner
		.box.left
			.buttons.types
				.button.type.compost.selected(data-type='compost') Compost
				.button.type.scraps(data-type='scraps') Scraps
			.inner
				h2 Who composts at Purchase?
				.text
					p #{location.who}
				h2 How do you compost?
				.text
					p #{location.how}
		.box.right
			.buttons.filters 
				.button.filter.date Date
				.button.filter.compost Compost
				.button.filter.scraps Scraps
			.inner
				ul.logList