.tools
	.tool.type
		.select.type
			.option.compost.selected(data-type='compost') Compost
			.option.scraps(data-type='scraps') Scraps
.info
	.inner
		.box.left
			.inner
				h2 Who composts at Purchase?
				.text
					p #{location.who}
				h2 How do you compost?
				.text
					p #{location.how}
		.box.right
			.inner
				.labels
					.label.date 
						h2 Date
					.label.scraps 
						h2 Scraps
					.label.compost 
						h2 Compost
				ul.logList