.info
	.inner
		.box.left
			.inner
				h2 Who composts at Purchase?
				.text
					p #{location.who}
				h2 How do you compost?
				.text
					p #{location.how}
				img(src="../images/rocket.jpg")
		.box.right
			.inner
				.labels
					.label.date 
						h2 Date
					.label.scraps 
						h2 Scraps
					.label.compost 
						h2 Compost
				ul.logList