.info
	.inner
		.box.left
			.inner
				h2 Who composts here?
				.text
					p #{location.who}
				h2 How do they compost?
				.text
					p #{location.how}
				h2 What can be composted here?
				.text
					p #{location.what}
		.box.right
			.inner
				.labels
					.label.date 
						h2 Date
					.label.input 
						h2 Input
					.label.output 
						h2 Output
				ul.logList
				

				
