doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/style.css')
		if styles
			each style in styles
				link(rel='stylesheet', href='/css/' + style + '.css')
		script(src='/js/jquery-2.1.4.min.js')
		script(src='/js/helpers.js')
		script(src='/js/transit.js')

		if data
			script(type='text/javascript').
				var localData =!{JSON.stringify(data)}
		if scripts
			each script in scripts
				script(type='text/javascript' src='/js/' + script + '.js')
		
		if selected	
			script(type='text/javascript').
				var selected = !{JSON.stringify(selected)}
		else 
			script(type='text/javascript').
				var selected = null

		body(class= pageType)
			block content