doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery-2.1.4.min.js')
		script(src='/javascripts/helpers.js')
		script(type='text/javascript').
			var localData =!{JSON.stringify(data)}
		if scripts
			each script in scripts
				script(src='/javascripts/' + script + '.js')
		body
			main
				block content