section#slider
		header
			h1 What does composting look like?
		.slider
			.arrow.left
				img(src ='images/left.svg')
			.arrow.right
				img(src ='images/right.svg')
			.inner
				.slides
					.slide.show
						.image
							img(src="../images/slideshow/1.jpg")
					.slide
						.image
							img(src="../images/slideshow/2.jpg")
					.slide
						.image
							img(src="../images/slideshow/3.jpg")
					.slide
						.image
							img(src="../images/slideshow/4.jpg")