section#slider
		.illustration
		header
			h1 This is what compost looks like!
		.slider
			.arrow.left
				img(src ='images/leftglove.svg')
			.arrow.right
				img(src ='images/rightglove.svg')
			.inner
				.slides
					.slide.show
						.image
							img(src="../images/slideshow/1.jpg")
					.slide
						.image
							img(src="../images/slideshow/2.jpg")
					.slide
						.image
							img(src="../images/slideshow/3.jpg")
					.slide
						.image
							img(src="../images/slideshow/4.jpg")