section#slider
		header
			h1 What does composting look like?
		.slider
			.arrow.left
				img(src ='images/left.svg')
			.arrow.right
				img(src ='images/right.svg')
			.inner
				.slides
					.slide.show
						.image
							img(src="../images/rocket.jpg")
					.slide
						.image
							img(src="../images/compost.jpg")
					.slide
						.image
							img(src="../images/compost2.jpg")