@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900);
@font-face {
  font-family: 'GT Walsheim';
  src: url("../fonts/gt-walsheim-web.eot");
  src: url("../fonts/gt-walsheim-web.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-web.ttf") format("truetype"); }
@font-face {
  font-family: 'GT Walsheim Oblique';
  src: url("../fonts/gt-walsheim-regular-oblique-web.eot");
  src: url("../fonts/gt-walsheim-regular-oblique-web.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-regular-oblique-web.ttf") format("truetype"); }
@font-face {
  font-family: 'GT Walsheim Bold';
  src: url("../fonts/gt-walsheim-bold-web.eot");
  src: url("../fonts/gt-walsheim-bold-web.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-bold-web.ttf") format("truetype"); }
@font-face {
  font-family: 'GT Walsheim Bold Oblique';
  src: url("../fonts/gt-walsheim-bold-oblique-web.eot");
  src: url("../fonts/gt-walsheim-bold-oblique-web.eot?#iefix") format("embedded-opentype"), url("../fonts/gt-walsheim-bold-oblique-web.ttf") format("truetype"); }
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0); }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0); }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: none;
            transform: none; } }
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); }
  60% {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0); }
  60% {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
html, body {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fbfffb;
  color: #73db71;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto; }

main {
  width: calc(100% - 4em);
  display: block;
  margin: auto;
  padding: 4em 2em; }

#about {
  width: 100%;
  height: 300px;
  background: #73db71; }

header {
  font-size: 100px;
  font-weight: 800;
  display: table; }
  header svg {
    display: table;
    margin: auto; }

h1 {
  font-size: 50px;
  line-height: 57px;
  font-weight: 800; }

a, a:visited {
  color: #73db71;
  text-decoration: none; }

::-webkit-scrollbar {
  display: none; }

header#logo {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  display: block;
  z-index: 10;
  overflow: visible;
  position: relative;
  margin-bottom: 25px;
  -webkit-transform: translateY(-2000px);
          transform: translateY(-2000px); }
  header#logo.show {
    -webkit-animation: bounceInDown 700ms forwards 400ms;
            animation: bounceInDown 700ms forwards 400ms; }
  header#logo.stuck {
    position: fixed; }
  header#logo a#logoLink {
    display: table;
    margin: auto; }
    header#logo a#logoLink canvas {
      display: table; }
  header#logo h1.where {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -10px;
    padding: 0;
    display: table;
    margin: auto;
    color: #73db71;
    text-align: center;
    white-space: nowrap;
    line-height: 50px;
    cursor: default;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    header#logo h1.where:before {
      font-size: 60px;
      content: '\0040'; }

main {
  max-width: 1440px; }

aside {
  height: 100%;
  width: 200px;
  position: fixed;
  display: none; }

.arrow {
  position: absolute;
  top: calc(50% - 30px);
  z-index: 100;
  cursor: pointer; }
  .arrow img {
    height: 100%; }

section {
  width: 100%;
  display: block;
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
          transform: translate3d(0, -2000px, 0);
  -webkit-transition: opacity 200ms ease-in-out 950ms;
  transition: opacity 200ms ease-in-out 950ms; }
  section.show {
    -webkit-animation: bounceInUp 900ms forwards 600ms;
            animation: bounceInUp 900ms forwards 600ms;
    opacity: 1; }
  section#locations {
    width: calc(100% - 40px);
    padding: 20px; }
  section .location {
    width: calc(100% - 20px);
    background-color: #f1fef1;
    position: relative;
    overflow: hidden;
    border: 10px solid #73db71; }
    section .location .content {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #f1fef1;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
      section .location .content .graph {
        width: 100%;
        position: relative;
        overflow: visible; }
        section .location .content .graph .easel {
          width: 100%;
          height: 600px;
          overflow: hidden;
          display: block;
          margin: auto;
          position: relative; }
          section .location .content .graph .easel canvas {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #f1fef1;
            vertical-align: bottom;
            -webkit-transform: translateY(650px);
                    transform: translateY(650px);
            -webkit-transition: -webkit-transform 400ms cubic-bezier(0.895, 0.185, 0.46, 0.985);
            transition: -webkit-transform 400ms cubic-bezier(0.895, 0.185, 0.46, 0.985);
            transition: transform 400ms cubic-bezier(0.895, 0.185, 0.46, 0.985);
            transition: transform 400ms cubic-bezier(0.895, 0.185, 0.46, 0.985), -webkit-transform 400ms cubic-bezier(0.895, 0.185, 0.46, 0.985);
            z-index: 0; }
            section .location .content .graph .easel canvas.show {
              -webkit-transform: translateY(0px);
                      transform: translateY(0px);
              z-index: 1; }
        section .location .content .graph .loader {
          width: 50px;
          height: 50px;
          position: absolute;
          top: calc(50% - 25px);
          left: calc(50% - 25px);
          border: 10px solid #73db71;
          border-right-color: transparent;
          border-radius: 50%;
          opacity: 0;
          z-index: 5;
          -webkit-transition: opacity 200ms;
          transition: opacity 200ms;
          -webkit-animation: load 1s infinite linear;
                  animation: load 1s infinite linear; }
        section .location .content .graph.loading .loader {
          opacity: 1; }
      section .location .content .arrow {
        width: auto;
        height: 50px;
        position: absolute;
        z-index: 3;
        top: 50%;
        -webkit-transition: -webkit-transform 300ms cubic-bezier(0.895, 0.185, 0.46, 0.985);
        transition: -webkit-transform 300ms cubic-bezier(0.895, 0.185, 0.46, 0.985);
        transition: transform 300ms cubic-bezier(0.895, 0.185, 0.46, 0.985);
        transition: transform 300ms cubic-bezier(0.895, 0.185, 0.46, 0.985), -webkit-transform 300ms cubic-bezier(0.895, 0.185, 0.46, 0.985); }
        section .location .content .arrow.left {
          left: 40px;
          -webkit-transform: translateX(-220px);
                  transform: translateX(-220px); }
        section .location .content .arrow.right {
          right: 40px;
          -webkit-transform: translateX(220px);
                  transform: translateX(220px); }
        section .location .content .arrow.show {
          -webkit-transform: translateX(0px);
                  transform: translateX(0px); }
      section .location .content .buttons {
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        display: block;
        background-color: #f1fef1;
        border-bottom: 10px solid #73db71;
        z-index: 10; }
        section .location .content .buttons .button {
          height: 50px;
          border-left: 10px solid #73db71;
          padding: 0 20px;
          font-size: 25px;
          line-height: 50px;
          font-weight: 700;
          text-align: center;
          float: left;
          text-transform: uppercase;
          cursor: pointer;
          background-color: #f1fef1; }
          section .location .content .buttons .button:hover {
            color: fade(#73db71, 70%); }
          section .location .content .buttons .button.selected {
            background-color: #d8f7d7; }
      section .location .content .popup {
        position: absolute;
        opacity: 0;
        color: #73db71;
        background-color: #f1fef1;
        font-size: 18px;
        line-height: 22px;
        padding: 6px 6px 15px 6px;
        border: 3px solid #73db71;
        white-space: nowrap;
        z-index: 2;
        -webkit-transform: translateY(50px) scale(0);
                transform: translateY(50px) scale(0);
        -webkit-transition: opacity 200ms ease-out, -webkit-transform 200ms ease-out;
        transition: opacity 200ms ease-out, -webkit-transform 200ms ease-out;
        transition: opacity 200ms ease-out, transform 200ms ease-out;
        transition: opacity 200ms ease-out, transform 200ms ease-out, -webkit-transform 200ms ease-out; }
        section .location .content .popup.show {
          opacity: 1;
          -webkit-transform: translateY(0px) scale(1);
                  transform: translateY(0px) scale(1);
          -webkit-transition: opacity 200ms ease-in-out 50ms, -webkit-transform 250ms ease-in-out;
          transition: opacity 200ms ease-in-out 50ms, -webkit-transform 250ms ease-in-out;
          transition: opacity 200ms ease-in-out 50ms, transform 250ms ease-in-out;
          transition: opacity 200ms ease-in-out 50ms, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }
        section .location .content .popup .point {
          width: 20px;
          height: 20px;
          display: table;
          position: absolute;
          bottom: -13px;
          left: calc(~'50% - 10px');
          background-color: #f1fef1;
          border-bottom: 3px solid #73db71;
          border-left: 3px solid #73db71;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
        section .location .content .popup .row {
          color: #3d6d46;
          padding: 5px; }
          section .location .content .popup .row:not(:last-child) {
            border-bottom: 2px solid #73db71; }
          section .location .content .popup .row .title {
            border-bottom: 1px solid #73db71;
            padding-bottom: 5px;
            margin-bottom: 5px;
            text-transform: capitalize;
            font-family: 'Work Sans', sans-serif; }
    section .location .info {
      width: 100%;
      height: 500px;
      overflow: hidden;
      color: #73db71;
      border-top: 10px solid #73db71; }
      section .location .info .inner {
        width: 100%;
        display: table; }
        @media (max-width: 1000px) {
          section .location .info .inner {
            height: 500px;
            overflow: auto;
            display: block; } }
      section .location .info .box {
        width: calc(50% - 5px);
        height: 500px;
        overflow-y: scroll;
        float: left;
        border: 0px solid #73db71; }
        section .location .info .box:first-child {
          border-right-width: 5px; }
        section .location .info .box:last-child {
          border-left-width: 5px;
          overflow: hidden; }
        @media (max-width: 1000px) {
          section .location .info .box {
            width: 100%;
            height: auto;
            overflow: visible; }
            section .location .info .box:first-child {
              border-bottom-width: 10px;
              border-right-width: 0px; }
            section .location .info .box:last-child {
              border-left-width: 0px;
              overflow: visible; }
              section .location .info .box:last-child .inner {
                padding-top: 25px; }
                section .location .info .box:last-child .inner .logList {
                  overflow: hidden;
                  height: auto; }
                  section .location .info .box:last-child .inner .logList li:first-child {
                    margin-top: 10px; } }
        section .location .info .box .inner {
          width: calc(100% - 50px);
          max-width: 800px;
          padding: 25px;
          height: 100%;
          display: table;
          margin: auto; }
          @media (max-width: 1000px) {
            section .location .info .box .inner {
              height: auto; } }
          section .location .info .box .inner h2 {
            font-size: 25px;
            line-height: 35px;
            font-weight: 700;
            margin: 0; }
          section .location .info .box .inner .text {
            padding: 0 0 25px 0;
            margin: 0 0 25px 0;
            border-bottom: 5px solid #73db71;
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: #3d6d46; }
            section .location .info .box .inner .text strong {
              color: #f34044; }
          section .location .info .box .inner .contact {
            width: 100%;
            border-top: 5px solid #73db71;
            margin: 10px 0 0 0;
            padding: 10px 0 0 0; }
            section .location .info .box .inner .contact a {
              text-decoration: underline;
              font-size: 20px;
              line-height: 30px;
              font-weight: 700; }
          section .location .info .box .inner .labels {
            width: 100%;
            display: table;
            border-bottom: 5px solid #73db71; }
          section .location .info .box .inner .labels {
            width: 100%; }
            section .location .info .box .inner .labels .label {
              float: left; }
              section .location .info .box .inner .labels .label.date {
                width: 50%; }
              section .location .info .box .inner .labels .label.scraps, section .location .info .box .inner .labels .label.compost {
                width: 25%;
                display: block; }
          section .location .info .box .inner .logList {
            height: calc(100% - 15px);
            padding-bottom: 30px;
            overflow-y: auto;
            font-size: 20px;
            line-height: 20px;
            clear: both; }
            section .location .info .box .inner .logList li {
              width: 100%;
              height: 21px;
              display: table;
              padding: 5px 0 5px 0;
              border-bottom: 2px solid #73db71;
              display: table;
              color: #3d6d46; }
              section .location .info .box .inner .logList li:hover, section .location .info .box .inner .logList li.hover {
                background-color: #d8f7d7;
                cursor: pointer; }
              section .location .info .box .inner .logList li .cell {
                float: left;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                text-align: left; }
                section .location .info .box .inner .logList li .cell h2 {
                  width: 100%; }
                section .location .info .box .inner .logList li .cell.date {
                  width: 50%; }
                section .location .info .box .inner .logList li .cell.scraps, section .location .info .box .inner .logList li .cell.compost {
                  width: 25%;
                  display: block; }
  section#slider {
    padding-top: 100px; }
    section#slider header {
      width: 100%; }
      section#slider header h1 {
        display: table;
        margin: auto; }
    section#slider .slider {
      width: 80%;
      max-width: 700px;
      height: 600px;
      margin: 50px auto 0px auto;
      position: relative; }
      section#slider .slider .arrow {
        height: 60px; }
        section#slider .slider .arrow.left {
          left: -150px; }
        section#slider .slider .arrow.right {
          right: -150px; }
        @media (max-width: 1000px) {
          section#slider .slider .arrow.left {
            left: -50px; }
          section#slider .slider .arrow.right {
            right: -50px; } }
      section#slider .slider .inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: table; }
        section#slider .slider .inner .slides {
          width: 100%;
          height: 100%;
          position: absolute;
          -webkit-transition: left 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: left 500ms cubic-bezier(0.645, 0.045, 0.355, 1); }
          section#slider .slider .inner .slides .slide {
            width: 100%;
            height: 100%;
            display: table;
            position: relative;
            float: left; }
            section#slider .slider .inner .slides .slide .image {
              width: 100%;
              display: table-cell;
              vertical-align: middle; }
              section#slider .slider .inner .slides .slide .image img {
                width: auto;
                max-width: calc(100% - 20px);
                height: auto;
                max-height: 500px;
                display: table;
                margin: auto; }
  section#compostables {
    padding-top: 150px; }
    section#compostables header {
      width: 100%; }
      section#compostables header h1 {
        display: table;
        margin: auto; }
    section#compostables .illustration {
      width: 100%;
      height: 700px;
      display: table;
      background-image: url(../images/compostables.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 100%; }
    section#compostables .box {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      font-size: 25px;
      line-height: 35px;
      font-weight: 600;
      color: #3d6d46; }
      section#compostables .box .inner {
        width: 80%;
        max-width: 700px;
        height: 400px;
        overflow: auto;
        display: block;
        padding: 20px;
        margin: auto;
        border: 10px solid #73db71;
        background-color: #f1fef1; }

footer {
  position: relative;
  color: #f1fef1 !important;
  font-size: 19px; }
  footer .dirt {
    -webkit-mask-box-image: url(../images/compost.svg);
            mask-border: url(../images/compost.svg);
    -webkit-mask-repeat: space;
            mask-repeat: space;
    width: 100%;
    height: 300px;
    background-color: #7f5233;
    position: relative;
    display: table; }
    footer .dirt canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      pointer-events: none; }
    footer .dirt .inner {
      max-width: calc(100% - 60px);
      display: table-cell;
      margin: auto;
      vertical-align: middle; }
      footer .dirt .inner .logo {
        width: 100%; }
        footer .dirt .inner .logo img {
          width: 450px;
          display: table;
          margin: 0 auto 5px auto; }
      footer .dirt .inner .blocks {
        display: table;
        margin: auto; }
        footer .dirt .inner .blocks .block {
          width: 180px;
          float: left; }
          footer .dirt .inner .blocks .block.credits:first-child {
            padding-right: 30px; }
          footer .dirt .inner .blocks .block.credits:last-child {
            padding-left: 30px; }
          footer .dirt .inner .blocks .block.credits a {
            margin-top: 3px;
            width: 100%;
            display: block; }
          footer .dirt .inner .blocks .block.credits .tomato {
            color: #ff5b29; }
          footer .dirt .inner .blocks .block.credits .banana {
            color: #ffe045; }
          footer .dirt .inner .blocks .block.credits .beet {
            color: #e23c7b; }
          footer .dirt .inner .blocks .block.credits .egg {
            color: #f6af82; }
          footer .dirt .inner .blocks .block.credits .leaf {
            color: #52a76c; }

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*# sourceMappingURL=public.css.map */