html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
main {
	width: 100%;
	height: 100%;
}
#left {
	width: 100px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 3px solid rgba(17,70,122,1);
	display: none;
}
#bottom {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 3px solid rgba(17,70,122,1);
	display: none;
}
#graph {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#graph canvas[resize] {
    width: 100%;
    height: 100%;
}
#graph #popup {
	/*width: 140px;*/
	position: absolute;
	display: none;
	background: rgba(41,235,150,1);
	border: 3px solid rgba(17,70,122,1);
	white-space: nowrap;
}
#graph #popup .row {
	padding: 5px;
}
#graph #popup .row:not(:last-child) {
	border-bottom: 2px solid rgba(17,70,122,1);
}
#graph #popup .row .title {
	border-bottom: 1px solid rgba(17,70,122,1);
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-family: 'GT Walsheim Bold';
}
#graph #popup .row .data {
}