/*GARDENER GLOVE CURSOR*/
/*GARDENER GLOVE CURSOR*/
/*GARDENER GLOVE CURSOR*/
/*GARDENER GLOVE CURSOR*/


html, body {
	width: 100%;
	height: 100%;
	display: table;
}
html * {
	overflow-x: hidden;
}
::-webkit-scrollbar { 
    display: none; 
}
header#logo {
	width: 100%;
	height: auto;
	/*position: fixed;*/
	top: 0;
	left: 0;
	display: block;
	z-index: 10;
	overflow: hidden;
	background-color: #e9ffea;
}
header#logo.stuck {
	position: fixed;
}
header#logo a#logoLink {
	display: table;
	margin: auto;
}
header#logo canvas#logo {

}
aside {
	height: 100%;
    width: 200px;
    position: fixed;
    display: none;
}
main {
	width: 100%;
}
#locations {
	width: calc(100% - 80px);
    padding: 10px;
	display: block;
}
#locations .inner {
	display: table;
	margin: auto;
}
section.location {
	width: 100%;
	color: #e9ffea;
	position: relative;
	overflow: hidden;
	/*transition: height 300ms ease-in-out;
	-moz-transition: height 300ms ease-in-out;
	-webkit-transition: height 300ms ease-in-out;*/
}
section.location.opened {

}
section.location.hidden {

}
section.location a {
	display: block;
}
section.location.opened a {
	cursor: default;
}
section.location .content {
	width: calc(100% - 20px);
	height: 100%;
	margin: 10px;
	overflow: hidden;
	background: #73db71;
	transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
	border: 0px solid #73db71;
}
section.location.opened .content {
	width: calc(100% - 40px);
	background: #e9ffea;
	border-width: 10px;
}
section.location header {
	width: 100%;
	height: auto;
	padding: 50px 0;
}
section.location header h1 {
	color: #e9ffea;
	display: table;
    margin: auto;
    padding-bottom: 15px;
    border-bottom : 6px solid;
    position: relative;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-webkit-transition: all 200ms ease-in-out;
}
section.location.opened header h1 {
	cursor: default;
	color: #73db71;
	border-color: #73db71;
}
.graph {
    position: relative;
}
.graph .easel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: table;
	margin: auto;
}
.graph canvas {
	vertical-align: bottom;
	transform: translateY(500px);
	-moz-transform: translateY(500px);
	-webkit-transform: translateY(500px);
    transition: transform 600ms cubic-bezier(0.895, 0.185, 0.460, 0.985);
	-moz-transition: -moz-transform 600ms cubic-bezier(0.895, 0.185, 0.460, 0.985);
	-webkit-transition: -webkit-transform 600ms cubic-bezier(0.895, 0.185, 0.460, 0.985);
}
section.location.opened .graph {
	overflow: visible;
	width: calc(100% - 20px);
}
.graph.show canvas {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.popup {
	position: absolute;
	display: none;
	opacity: 0;
	color: #73db71;
	background-color: #e9ffea;
	font-size: 18px;
	line-height: 22px;
	padding: 6px;
	border: 3px solid #73db71;
	white-space: nowrap;
	-webkit-transform: translateY(50px) scale(0);
	-moz-transform: translateY(50px) scale(0);
	transform: translateY(50px) scale(0);
	transition: opacity 100ms ease-in, transform 100ms ease-in;
	-moz-transition: opacity 100ms ease-in, -moz-transform 100ms ease-in;
	-webkit-transition: opacity 100ms ease-in, -webkit-transform 100ms ease-in;
}
.popup.show {
	opacity: 1;
	-webkit-transform: translateY(0px) scale(1);
	-moz-transform: translateY(0px) scale(1);
	transform: translateY(0px) scale(1);
	transition: opacity 100ms ease-in-out 50ms, transform 150ms ease-in-out;
	-moz-transition: opacity 100ms ease-in-out 50ms, -moz-transform 150ms ease-in-out;
	-webkit-transition: opacity 100ms ease-in-out 50ms, -webkit-transform 150ms ease-in-out;
}
.popup .row {
	padding: 5px;
}
.popup .row:not(:last-child) {
	border-bottom: 2px solid #73db71;;
}
.popup .row .title {
	border-bottom: 1px solid #73db71;;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-family: 'GT Walsheim Bold';
}
.popup .row .data {
}

section.location .info {
	width: calc(100% - 20px);
	color: #73db71;
	margin: 0 10px;
	height: 0;
	overflow: hidden;
	transition: all 500ms cubic-bezier(.42,.15,.03,1);
	-moz-transition: all 500ms cubic-bezier(.42,.15,.03,1);
	-webkit-transition: all 500ms cubic-bezier(.42,.15,.03,1);
}
section.location.opened .info {
	height: 320px;
	margin: 10px;
}
section.location .info .inner {
	margin: 10px;
}
section.location .info .box {
	width: calc(50% - 30px);
	height: 300px;
	overflow-y: scroll;
	float: left;
	border: 10px solid #73db71;
	/*background-color: #e9ffea;*/
}
section.location .info .box:first-child {
	margin-right: 10px;
}
section.location .info .box:last-child {
	margin-left: 10px;
}
section.location .info .box .inner {
	max-width: 800px;
	padding: 15px;
	height: 100%;
	display: table;
	margin: auto;
}
section.location .info .box h2 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	margin: 0;
}

section.location .info .box .text {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	/*border: 6px solid #e8dfb1;*/
	/*padding: 30px;*/
}
section.location .info .box .inner .contact {
	width: 100%;
	border-top: 5px solid #73db71;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
}
section.location .info .box .inner .contact a {
	text-decoration: underline;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
}