@font-face {
    font-family: 'GT Walsheim';
    src: url('fonts/gt-walsheim-web.eot');
    src: url('fonts/gt-walsheim-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/gt-walsheim-web.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Oblique';
    src: url('fonts/gt-walsheim-regular-oblique-web.eot');
    src: url('fonts/gt-walsheim-regular-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/gt-walsheim-regular-oblique-web.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Bold';
    src: url('fonts/gt-walsheim-bold-web.eot');
    src: url('fonts/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/gt-walsheim-bold-web.ttf') format('truetype');
}

@font-face {
    font-family: 'GT Walsheim Bold Oblique';
    src: url('fonts/gt-walsheim-bold-oblique-web.eot');
    src: url('fonts/gt-walsheim-bold-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('fonts/gt-walsheim-bold-oblique-web.ttf') format('truetype');
}

body {
	background: rgba(41,235,150,1);
	padding: 50px;
	color: rgba(17,70,122,1);
	font-family: "GT Walsheim";
	font-size: 16px;
}
main {
	max-width: 900px;
	min-width: 600px;
	display: table;
	margin: auto;
}
header {
	font-size: 100px;
	font-family: "GT Walsheim Bold"
}

h1 {
	font-size: 50px;
	font-family: "GT Walsheim Bold"
}

a, a:visited {
	color: rgba(17,70,122,1);
	text-decoration: none;
}

.list {
	display: table;
	margin: 20px 0;
	font-size: 25px;
}
.list .cell {
	display: table;
	float: left;
	margin: 0 10px 10px 0;
}
.list .cell a {
	border-bottom: 1px dotted rgba(17,70,122,1);
}
.list .cell:last-child {
	margin-right: 0;
}

/*FORMS*/
form {
	padding: 50px 0 0 0;
	width: 100%;
	max-width: 900px;
	display: table;
}
input, select {
	font-family: "GT Walsheim Bold";
	display: block;
	padding: 2px 0 2px 6px;
	background: rgba(17,70,122,0.2);
	color: rgba(17,70,122,1);
	font-size: 25px;
	border: 0;
	outline: none;
}
input[type="text"] {
	height: 33px;
	border-bottom: 3px solid rgba(17,70,122,1);
}
input[type="submit"] {
	width: 40px;
	height: 40px;
	margin: 0;
	/*border: 3px solid rgba(17,70,122,1);*/
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
}
select {
	height: 40px;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
  	background-image:url(../images/drop.svg);
  	background-size: 20px;
  	background-repeat: no-repeat;
  	background-position: calc(100% - 10px) center; 
}
input[type="submit"]:hover {
	cursor: pointer;	
}
input[type="submit"].save {
	background-image: url(../images/plus.svg);
}
input[type="submit"].delete {
	background-image: url(../images/x.svg);
	margin-left: 20px;
}
form#info input {
	float: left;
}
form#info input[type="text"] {
	width: calc(50% - 16px);
	margin: 0 20px 20px 0;
}
form#info input[type="text"]:nth-child(even) {
	margin-right: 0px;
}
table#log {
	clear: both;
	border-collapse: collapse;
    border-spacing: 0;
    margin-top: 50px;
}
table#log .titles {
	border-bottom: 3px solid rgba(17,70,122,1);
}
table#log .titles .title {
	font-family: 'GT Walsheim Bold';
	font-size: 25px;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
table#log td.cell {
	padding: 10px 20px 0 0;
	vertical-align: bottom;
}
table#log td.cell:last-child {
	padding-right: 0;
}
table#log td.cell.month {
	width: 20%;
}
table#log td.cell.day {
	width: 13%;
}
table#log td.cell.year {
	width: 15%;
}
table#log td.cell.data {
	width: 12%;
}
table#log .row input[type="text"], table#log .row select {
	width: 100%;
}
table#log .row input[type="submit"] {
	float: left;
}