@import 'style.less';
main {
	padding: 50px;
	width: 900px;
}
.list {
	display: table;
	margin: 20px 0;
	font-size: 25px;
}
.list .cell {
	display: table;
	float: left;
	margin: 0 10px 10px 0;
}
.list .cell a {
	border: 5px solid @dark;
}
.list .cell:last-child {
	margin-right: 0;
}
.list .cell a.delete {
	// border: none;
}
#location header {
	width: 100%;
	input#name {
		width: calc(~'100% - 140px');
		height: auto;
		font-size: 50px;
		line-height: 60px;
		font-weight: 800;
		border: none;
		border-bottom: 5px solid @dark;
		float: left;
	}
}
#location .buttons {
	display: table;
	float: left;
}
#location .buttons input.submit {
	margin-left: 10px;
	float: left;
}
/*FORMS*/
form h2 {
	font-family: "GT Walsheim Bold";
	width: 100%;
	padding: 40px 0 10px 0;
	color: @dark;
	font-size: 25px;
	float: none;
	clear: both;
}
form {
	padding: 50px 0 0 0;
	width: 100%;
	max-width: 900px;
	display: table;
}
input, select, textarea {
	font-family: "GT Walsheim Bold";
	display: block;
	padding: 2px 0 2px 6px;
	background: @light;
	color: @dark;
	font-size: 25px;
	outline: none;
	border: 5px solid @dark;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}

input.text {
	height: 33px;
}
input[type="submit"], a.submit {
	margin: 0;
	display: block;
	float: left;
	cursor: pointer;
}
input[type="submit"].submit, a.submit.submit {
	width: 47px;
	height: 47px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	margin-left: 20px;
}
.submit:hover {
	cursor: pointer;	
}
.submit.add {
	background-image: url(../images/plus.svg);
}
.submit.save {
	background-image: url(../images/check.svg);
}
.submit.delete {
	background-image: url(../images/x.svg);
}
.submit.view {
	background-image: url(../images/view.svg);
}
.submit.home {
	background-image: url(../images/home.svg);
}
textarea {
	resize: none;
	width: 100%;
}
select {
	height: 47px;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
  	background-image:url(../images/drop.svg);
  	background-size: 20px;
  	background-repeat: no-repeat;
  	background-position: calc(~'100% - 10px') center; 
  	cursor: pointer;
}
form#info input {
	float: left;
}
form#info input.text {
	width: calc(~'50% - 26px');
	margin: 0 20px 20px 0;
}
form#info input.text:nth-child(even),
form#info textarea:nth-child(even) {
	margin-right: 0px;
}
form#info textarea {
	float: left;
}
table#log {
	clear: both;
	border-collapse: collapse;
    border-spacing: 0;
    margin-top: 50px;
}
table#log .titles {
	border-bottom: 5px solid @dark;
}
table#log .titles .title {
	font-family: 'GT Walsheim Bold';
	font-size: 25px;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
table#log td.cell {
	padding: 10px 20px 0 0;
	vertical-align: bottom;
}
table#log td.cell:last-child {
	padding-right: 0;
	// float: right;
}
table#log td.cell.month {
	width: 23%;
}
table#log td.cell.day {
	width: 13%;
}
table#log td.cell.year {
	width: 15%;
}
table#log td.cell.data {
	width: 17%;
	input {
		width: calc(~'100% - 16px');
	}
}
table#log .row input.text, table#log .row select {
	width: 100%;
}
table#log .row input[type="submit"] {
	width: 47px;
	height: 47px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
	background-color: @lightest;
	margin-left: 20px;
	border: none;
}